* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --azulFundoPrincipal: #1B2C3E;
    --azulFundoNav: #132436;
    --btnColor: #ED5D66;
    --btnColorMain: #2376CF;
    --backgroundItemSelected: #344251;
    --backgroundActiveItem: #28425C;
    --borderColor: #5A85B0;
}

main {
    display: flex;
}

.container {
    width: 80%;
    background: var(--azulFundoPrincipal);
    padding: 0 100px 0 50px;
}