@import url(/css/others/style.css);

main {
    display: flex;
}

.container {
    width: 80%;
    background-color: var(--azulFundoPrincipal);
}

.title {
    margin: 120px auto 0 auto;
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    width: 90%;
}

.line {
    width: 90%;
    background-color: #fff;
    height: 2px;
    margin: auto;
}

.box {
    width: 80%;
    border-radius: 20px;
    border: 2px solid #fff;
    margin: 50px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
}

.input {
    display: flex;
    color: #fff;
    font-size: 22px;
    align-items: center
}

.input:first-child {
    margin: 0 0 30px 0;
}

.input input {
    margin: 0 0 0 32px;
    background-color: transparent;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    height: 40px;
    font-size: 22px;
    padding: 5px 10px;
    color: #fff;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
}

/* Texto que decidi adicionar como exemplo */
.toggle-wrapper .description {
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

/* Esconde o checkbox */
.switch>.hidden-toggle {
    display: none;
}

/* Caixinha onde o botão desliza */
.switch>.slider {
    background: #e0e2db;
    border: 0.1rem solid #bbb;
    cursor: pointer;
    border-radius: 2rem;
    transition: all 300ms ease-in-out;
    width: 100px;
    height: 2.4rem;
    position: relative;
    box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
        0 0 1rem rgba(0, 0, 0, 0.1);
}

/* O botão redondinho */
.switch>.slider>.button {
    content: "";
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    background: #2376CF;
    top: 0.6px;
    left: 4px;
    transition: all 300ms ease-in-out;
    border-radius: 50%;
    z-index: 2;
    box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* Texto ON ou OFF (começa off) */
.switch>.slider:after {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    font-size: 1rem;
    line-height: 1rem;
    color: #444;
    font-weight: bold;
    z-index: 1;
    transition: all 300ms ease-in-out;
    content: "Inativo";
}

/* Slider ON */
.switch>.hidden-toggle:checked~.slider {
    background: #2376CF;
    box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
        0 0 1rem rgba(50, 0, 150, 0.2);
}

/* Botão ON */
.switch>.hidden-toggle:checked~.slider>.button {
    left: 95%;
    transform: translateX(-100%);
    box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background: #e0e2db;
}

/* Texto ON */
.switch>.hidden-toggle:checked~.slider:after {
    right: 3.3rem;
    color: #f1f1ff;
    content: "Ativo";
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    width: 138px;
    height: 60px;
    background: var(--btnColorMain);
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 22px;
    margin: 20px 0;
    cursor: pointer;
    transition: .2s ease;
}

.buttons button:hover {
    transform: scale(1.04);
    transition: .2s ease;
}

.buttons button i {
    margin-right: 10px;
}