@import url(../../others/style.css);

main {
    display: flex;
}

.container {
    width: 80%;
    background: var(--azulFundoPrincipal);
    padding: 0 100px 0 50px;
}

.timeline {
    width: 100%;
    height: 98px;
    background-image: url(../../../img/timeline-fase1.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px 0 0 0;
}

.centeredItems {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxContainer {
    margin-top: 20px;
    width: 990px;
    height: 500px;
    background-color: var(--backgroundActiveItem);
    border-radius: 20px;
}

.title {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    padding: 30px 0 0 25px;
}

.lineHorizontal {
    height: 2px;
    background: #fff;
    position: relative;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.leftBox {
    width: 40%;
}

.entryarea {
    position: relative;
    height: 60px;
    line-height: 60px;
    width: 100%;
    margin: 0 0 30px 0;
}

.entryarea input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 1.1em;
    padding: 0 15px;
    line-height: 60px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    transition: .1s ease;
    z-index: 111;
}

.labelline {
    position: absolute;
    font-size: 1.1em;
    color: #fff;
    padding: 0 25px;
    margin: 0 20px;
    background-color: var(--backgroundActiveItem);
    transition: .2s ease;
}

.entryarea input:focus,
.entryarea input:valid {
    color: #fff;
    border: 2px solid #fff;
}

.entryarea input:focus + .labelline,
.entryarea input:valid + .labelline {
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px, -16px) scale(0.88);
    z-index: 1111;
}

.cpfphone {
    display: flex;
}

.cpfphone .entryarea:first-child {
    margin-right: 13px;
}

.lineVertical {
    width: 2px;
    background-color: #fff;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.descTitle {
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}

.checkboxBox {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.checkboxBox label {
    color: #fff;
    margin: 0 10px 0 5px;
}

.bairronum {
    display: flex;
}

.inputnumber {
    width: 100px;
}

.buttonNext {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.buttonNext button {
    width: 154px;
    height: 51px;
    background-color: var(--btnColorMain);
    font-size: 22px;
    color: #fff;
    border-radius: 10px;
    border: none;
    transition: .2s ease;
    cursor: pointer;
}

.buttonNext button:hover {
    transform: scale(1.05);
    transition: .2s ease;
}

.bairronum .entryarea:first-child {
    margin-right: 13px;
}

select {
    width: 100%;
    outline: none;
    font-size: 1.1em;
    padding: 0 15px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    transition: .1s ease;
    color: #fff;
    height: 65px;
}

select option {
    color: #000;
}